:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --cor-fundo: #FFFFFF;
  --cor-texto: #1A202C; 
  --cor-texto-secundario: #A0AEC0; 
  
  /* --- Cores da Marca (Semânticas) --- */
  /* As cores que você usa para botões, links, etc. */
  --cor-primaria: #4299E1; /* Um tom de azul */
  --cor-primaria-hover: #2B6CB0; /* Azul mais escuro para hover */
  --cor-cinza: #718096; /* Cinza médio */
  
  --cor-secundaria: #ECC94B; /* Um tom de amarelo */

  /* --- Cores de Feedback (Estado) --- */
  --cor-sucesso: #48BB78; /* Verde */
  --cor-erro: #F56565; /* Vermelho */
  --cor-aviso: #ED8936; /* Laranja */
  
  /* --- Outros --- */
  --cor-borda: #E2E8F0; /* Cinza bem claro para bordas */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
